{% extends "ui/content_base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans "Settings" %}{% endblock %}

{# Section context for sidebar highlighting #}
{% block content %}
{% with current_section="inventory" section_title=_("Inventory") %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block module_tabbar %}

{% include "inventory/partials/tabbar.html" %}

{% endblock %}

{% block page_content %}
{% include "inventory/partials/settings_content.html" %}
{% endblock %}
